.App {
  font-family: "Open Sans", sans-serif;
}
.toolbar {
  background-color: rgb(60, 179, 113);
}
.navbar-list {
  list-style-type: none;
  display: flex;
  text-decoration: none;
}
.navbar-item {
  margin: auto 20px;
}
a {
  text-decoration: none;
  color: rgb(231, 231, 231);
  font-weight: lighter;
}
.listing-link {
  color: black;
  text-decoration: underline;
  font-weight: 400;
}
